:root {
  --primary: black;
  --bg: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "inria Sans", sans-serif;
  background-color: var(--bg);
  color: #fff;
  width: auto;
}
/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  z-index: 100;
}

header img {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 32px;
}

header .navbar-extra a {
  color: black;
  text-decoration: none;
  float: right;
  margin-right: 10px;
  padding-left: 10px;
}

/* shopping-cart */
#shopping-cart {
  cursor: pointer;
}
.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 320px;
  min-height: 100vh;
  padding: 28px;
  background: white;
  box-shadow: -2px 0 4px hsl(0 5% 15%/10%);
  transition: 0.3s;
}
.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  top: 1rem;
}

.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}

.detail-box {
  display: grid;
  row-gap: 0.5rem;
}

.cart-product-title {
  font-size: 1.5rem;
}
.cart-price {
  font-weight: 500;
}
.cart-quantity {
  margin: 0 auto;
  border: 1px solid var(--primary);
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}
.cart-remove {
  font-size: 24px;
  cursor: pointer;
}
.cart.active {
  right: 0;
}
.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid var(--primary);
}
.total-title {
  font-size: 1rem;
  font-weight: 600;
}
.total-price {
  margin-left: 0.5rem;
}

.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: red;
  color: white;
  cursor: pointer;
}
.btn-buy:hover {
  background: blue;
}
#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  cursor: pointer;
}

/* User */
#user {
  cursor: pointer;
}
.sidenav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 320px;
  min-height: 100vh;
  padding: 28px;
  background: white;
  box-shadow: -2px 0 4px hsl(0 5% 15%/10%);
  transition: 0.3s;
}

.sidenav-remove {
  font-size: 24px;
  cursor: pointer;
}
.sidenav.active {
  right: 0;
}
.profile {
  margin-bottom: 20px;
  margin-top: 12px;
  text-align: center;
}

.profile img {
  border-radius: 30%;
  width: 90px;
  height: 80px;
  box-shadow: 0px 0px 5px 1px grey;
}

.name {
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}

.job {
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}

.btn-logout {
  display: flex;
  margin: 2rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: red;
  color: white;
  cursor: pointer;
}
.btn-logout:hover {
  background: blue;
}
#close-profile {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  cursor: pointer;
}
/*  navbar */
.navbar {
  color: black;
  padding: 5px 20px;
  margin-bottom: 4px;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  z-index: 999;
}

.navbar .navbar-nav a {
  color: black;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 0.9rem;
  align-items: center;
  transition: color 0.3s;
}

.navbar .navbar-nav a:hover {
  color: skyblue;
}

/*/ Home Section /*/
.hero {
  height: 790px;
  padding-top: 200px;
  width: 100%;
  align-items: center;
  background-image: url("../img/Photo\ Main\ page\ 2s.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
}

.hero .content {
  padding: 1.4rem 8%;
  max-width: 100%;
  position: relative;
}

.hero .content h1 {
  text-align: left;
  font-size: 3rem;
  color: #fff;
  width: 552px;
  height: 184px;
  display: flex;
  margin-bottom: 60px;
  font-family: "Righteous", cursive;
}
.hero .content .btn-home {
  text-align: center;
  margin-top: 30px;
  width: 445px;
  height: 50px;
  font-size: 20px;
  font-weight: 1000;
  font-family: "Roboto slab", sans-serif;
  color: #fff;
  background-color: #fac823;
  border-radius: 20rem;
  box-shadow: 1px 1px 3px rgba(7, 7, 12, 0.5);
}

/*/ About Us Section /*/
.aboutus {
  margin: 0 50px;
  padding-top: 60px;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.aboutus h1 {
  color: #fac823;
  font-size: 50px;
  text-align: left;
  font-weight: 800;
  margin: 0px 50px;
}

.image-container {
  position: relative;
  text-align: center;
}
.image-container img {
  width: 1360px;
  height: 570px;
}
.image-text {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 354px;
  height: 382px;
  text-align: left;
  transform: translate(-50%, -70%);
  font-size: 20px;
  padding: 10px 20px;
}

.image-text p {
  margin-top: 180px;
  font-style: bold;
  color: #ffffff;
  text-shadow: 2px 2px #140b0b;
}


/*/ Product Section /*/
.product {
  margin: 0 50px;
  padding-top: 60px;
  height: 200%;
  box-sizing: border-box;
  position: relative;
}

.product h2 {
  color: black;
  text-align: left;
  font-size: 36px;
  margin: 0px 60px;
}
.filters {
  width: 100%;
  text-align: center;
}

.filters ul {
  margin-top: 20px;
  list-style: none;
  padding: 20px 0;
}

.filters li {
  display: inline;
  padding: 10px 25px;
  font-size: 17px;
  color: #636363;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filters li:hover {
  color: #21abf5e1;
}

.filters li.active {
  color: #2f78ed;
  border: 1px solid #2f78ed;
  border-radius: 15px;
}
.grid {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
}
.grid .card-content {
  box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(5px);
  margin: 40px;
  width: 250px;
  height: 373px;
}
.card-content h1 {
  color: black;
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}
.card-content h2 {
  padding-bottom: 10px;
  font-size: 20px;
}
.card-content p {
  color: black;
  font-size: 15px;
  font-weight: 350;
  padding-bottom: 15px;
  text-align: center;
}
.card-img {
  width: 200px;
  height: 240px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  opacity: 1;
}
.card-body {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.card-content:hover .card-img {
  opacity: 0.3;
}

.card-content:hover .card-body {
  opacity: 1;
}
.card-content .card-body a {
  display: flex;
  justify-content: center;
  font-size: 25px;
  position: relative;
  width: 132px;
  height: 63px;
  padding-top: 10px;
  text-decoration: none;
  border: 2px solid #fff;
  text-transform: uppercase;
  color: #fff;
  border-radius: 50px;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.8);
  transition: 0.8s all ease;
}
.card-content .card-body a:hover {
  background: rgb(8, 52, 228);
}
/*/ Information /*/
.information {
  margin: 0 50px;
  padding-top: 70px;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.information .title {
  text-align: center;
  color: black;
}
.title h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.title span {
  color: rgb(8, 52, 228);
}
.title .slogan {
  font-size: 1.3rem;
  color: gray;
}
.services_boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.box {
  width: 320px;
  background: #fff;
  padding: 2rem;
  margin: 1rem 2rem;
  text-align: center;
  border-radius: 10px;
  border: 2px solid transparent;
  box-shadow: 5px 4px 30px rgba(0, 0, 0, 0.2);
}
.box i {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.box h4 {
  color: black;
  margin-bottom: 5px;
}
.box p {
  color: gray;
}
.box:hover,
.br {
  border: 2px solid rgb(228, 151, 8);
}
.tulisan{
  padding-left: 130px;
  padding-top: 10px;
}
.tulisan h1{
  font-size: 2rem;
  color: black;
  text-transform: capitalize;
}
.tulisan .alamat h2{
  color: black;
  font-size: 18px;
  line-height: 30px;
}
.tulisan .alamat{
  padding-top: 20px;
}
.tulisan .toko{
  font-size: 2rem;
  color: rgb(8, 52, 228);
}
iframe{
  width: 100vh;
  height: 100px;
  border: none;
  margin-top: -26px;
}
.tulisan iframe{
  float: right;
  height: 170px;
  width: 340px;
  margin-right: 95px;
  margin-bottom: 6px;
  border-radius: 26px;
}
/*/ footer /*/
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
footer {
  background-color: #f5f5dc;
}
.konten-footer {
  padding: 1.2rem 4rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2rem;
}

footer .nama-footer {
  color: rgb(13, 31, 229);
  border-left: 4px solid (#2d4bf0);
  padding-left: 1.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.nama-footer .initial-footer {
  color: #232127;
}

footer .logo-footer p {
  color: black;
  font-size: 1.25rem;
  padding-top: 1.7rem;
  padding-left: 1.63rem;
}

footer .title-footer {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: black;
  font-weight: 900;
  border-left: 4px solid var(--theme-col);
  padding-left: 1.5rem;
  height: fit-content;
}
footer ul {
  padding-left: 1.75rem;
  color: black;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem;
  margin-top: 0.5rem;
}
footer ul li {
  margin: 0.25rem 0;
  cursor: pointer;
  color: black;
  width: fit-content;
  list-style: none;
  text-decoration: none;
}
footer ul li:hover {
  color: blue;
}
footer .help-footer {
  grid-column-start: 2;
}
footer .cr-con {
  background-color: black;
  color: white;
  padding: 1rem 4rem;
  text-align: center;
}
.contact-footer {
  display: grid;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.contact-footer ul li {
  display: flex;
  flex-direction: column;
  --tw-space-y-reverse: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.contact-footer ul li i {
  margin: 6px 2px;
}

.up-icon {
  display: none;
}

/*/ Handphone/*/
@media (max-width: 768px) {
  html {
    width: 100%;
  }
  /* header*/
  header {
    position: fixed;
    width: 100%;
  }

  .navbar-extra {
    display: inline-block;
  }
  header .navbar-nav {
    display: none;
  }

  /* profile*/
  .sidenav {
    width: 70%;
    padding: 20px;
  }

  .profile img {
    width: 70px;
    height: 60px;
  }

  .name {
    font-size: 18px;
    padding-top: 15px;
  }

  .job {
    font-size: 14px;
    padding-top: 8px;
  }

  .btn-logout {
    padding: 10px 16px;
  }

  /* cart*/
  .cart {
    width: 70%;
    padding: 40px;
  }

  .cart-title {
    font-size: 1.2rem;
  }

  .cart-box {
    grid-template-columns: 40% 50% 10%;
    margin-top: 1rem;
  }

  .cart-img {
    width: 80px;
    height: 80px;
  }

  .cart-product-title {
    font-size: 1.2rem;
  }

  .cart-quantity {
    width: 2rem;
    font-size: 0.9rem;
  }

  .btn-buy {
    margin-top: 1rem;
  }

  .total {
    margin-top: 1rem;
  }

  .total-title {
    font-size: 0.9rem;
  }

  .total-price {
    margin-left: 0.2rem;
  }

  /* home */
  .hero {
    height: auto;
    padding-top: 120px;
  }

  .hero .content {
    padding: 1.4rem 5%;
  }

  .hero .content h1 {
    font-size: 1.2rem;
    width: 99%;
    height: auto;
    margin-bottom: 30px;
  }

  .hero .content .btn-home {
    width: 100%;
    max-width: 150px;
    height: 40px;
    font-size: 11px;
    margin-top: 20px;
  }

  /* about us*/
  .aboutus {
    margin: 0 20px;
    padding-top: 30px;
    height: auto;
  }

  .aboutus h1 {
    font-size: 30px;
    margin: 0px 20px;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }
  .image-text {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 92%;
    height: 129%;
    text-align: left;
    transform: translate(-40%, -50%);
    font-size: 5px;
    padding: 10px 20px;
  }

  .image-text p {
    margin-top: 10px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px #140b0b;
    width: 90%;
    max-width: none;
    font-size: 8px;
    padding: 20px;
  }

 
  /* product */
  .product {
    margin: 0 50px;
    padding-top: 30px;
    height: auto;
    box-sizing: border-box;
    position: relative;
  }

  .product h2 {
    color: black;
    text-align: left;
    font-size: 30px;
    margin: 0px 10px;
  }

  .filters {
    width: 100%;
    text-align: center;
  }

  .filters ul {
    margin-top: 20px;
    list-style: none;
    padding: 10px 0;
  }

  .filters li {
    display: inline;
    padding: 3px 20px;
    font-size: 14px;
    color: #636363;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .filters li:hover {
    color: #21abf5e1;
  }

  .filters li.active {
    color: #2f78ed;
    border: 1px solid #2f78ed;
    border-radius: 15px;
  }

  .grid {
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .grid .card-content {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(5px);
    margin: 20px;
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  .card-content h1 {
    color: black;
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
  }

  .card-content h2 {
    padding-bottom: 10px;
    font-size: 16px;
  }

  .card-content p {
    color: black;
    font-size: 12px;
    font-weight: 350;
    padding-bottom: 15px;
    text-align: center;
  }

  .card-img {
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
    opacity: 1;
  }

  .card-content:hover .card-img {
    opacity: 0.3;
  }

  .card-content:hover .card-body {
    opacity: 1;
  }

  .card-content .card-body a {
    display: flex;
    justify-content: center;
    font-size: 18px;
    position: relative;
    width: 200%;
    height: 50px;
    padding-top: 10px;
  }

  /* information */
  .information {
    margin: 0 20px;
    padding-top: 10px;
    height: auto;
    box-sizing: border-box;
    position: relative;
  }

  .information .title {
    text-align: center;
    color: black;
  }

  .title h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  .title span {
    color: rgb(8, 52, 228);
  }

  .title .slogan {
    font-size: 1rem;
    color: gray;
  }

  .services_boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 15px;
  }

  .box {
    width: 100%;
    max-width: 320px;
    background: #fff;
    padding: 1.5rem;
    margin: 1rem 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid transparent;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
  }

  .box i {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .box h4 {
    color: black;
    margin-bottom: 5px;
  }

  .box p {
    color: gray;
    font-size: 14px;
  }

  .box:hover,
  .br {
    border: 2px solid rgb(228, 151, 8);
  }

  .lokasi {
    margin-top: 10px;
  }

  .tulisan {
    padding-left: 10px;
    padding-top: 30px;
  }

  .tulisan h1 {
    font-size: 1.5rem;
    color: black;
    text-transform: capitalize;
  }

  .tulisan .alamat h2 {
    color: black;
    font-size: 16px;
    line-height: 24px;
  }

  .tulisan .alamat {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .tulisan .toko {
    font-size: 1.5rem;
    color: rgb(8, 52, 228);
  }

  .tulisan iframe {
    float: none;
    height: auto;
    width: 100%;
    margin: 0;
    margin-top: 20px;
    border-radius: 10px;
  }

  /*  footer */
  footer {
    background-color: #f5f5dc;
    padding: 1.2rem 1rem;
    width: 110%;
  }

  .konten-footer {
    padding: 1.2rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  footer .nama-footer {
    color: rgb(13, 31, 229);
    border-left: none;
    padding-left: 0;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 700;
  }

  .initial-footer {
    color: #232127;
  }

  footer .logo-footer p {
    color: black;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-left: 0;
  }

  footer .title-footer {
    font-size: 1rem;
    line-height: 1.25rem;
    color: black;
    font-weight: 900;
    border-left: none;
    padding-left: 0;
    height: fit-content;
  }

  footer ul {
    padding-left: 0;
    color: black;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 0.25rem;
  }

  footer ul li {
    margin: 0.25rem 0;
    cursor: pointer;
    color: black;
    width: fit-content;
    list-style: none;
    text-decoration: none;
  }

  footer ul li:hover {
    color: blue;
  }

  footer .help-footer {
    grid-column: span 3;
  }

  footer .cr-con {
    background-color: black;
    color: white;
    padding: 1rem 1rem;
    text-align: center;
  }

  .contact-footer ul li {
    display: block;
    margin-top: 1rem;
  }
  /*/ Up Scroll /*/
  .up-icon {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 40px;
    right: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
  }
  .fa-chevron-circle-up {
    font-size: 40px;
    line-height: 60px;
    color: black;
    opacity: 50%;
  }
}
